# Ignore the build and lib dirs
build
lib/*

# Ignore any executables
bin/*

# Test related files
test/tfile.bin
test/*.json_h
test/*.json_c*
test/*/*.json_h
test/*/*.json_c*
test/results

# Ignore Mac specific files
.DS_Store
*.xcodeproj
