# Ignore the build and lib dirs
build
lib/*

# Ignore any executables
bin/*

# Test related files
test/tfile.bin
test/*.json_h
test/*.json_c
teset/*_header
teset/*_names
teset/*_table
teset/*_tree
teset/*_values

# Ignore Mac specific files
.DS_Store
*.xcodeproj
