# Ignore the build and lib dirs
build
lib/*
!lib/README.md

# Ignore any executables
bin/*

# Test related files
test/tfile.bin
test/*.json_h
test/*.json_c*
test/*/*.json_h
test/*/*.json_c*
test/results
test/inputs

# Ignore Mac specific files
.DS_Store
*.xcodeproj
